body{
	margin: 20px auto;
	padding: 0 20px;
	max-width: 1200px;
	background-color: #E8F3F9;
}

/*						header						*/

.header{
	display: flex;
	justify-content: space-between;
	font-weight: 500;
}
.header-logo{
	color: #FFBD28;
	font-size: 40px;
	line-height: 35px;
}
.header-logo-mod{
	margin-left: 62px;
	color: #000;
	font-weight: 400;
}
#btn-menu{
	display: none;
}
.btn-menu-open{
	display: none;
	font-size: 50px;
	position: absolute;
	top: 20px;
	left: 30px;
}
.btn-menu-close{
	display: none;
	font-size: 30px;
	position: absolute;
	top: 30px;
	right: 30px;
}
.header-nav ul{
	display: flex;
}
.header-nav li{
	padding: 30px 0;
}
.header-nav a{
	padding: 30px;
	transition: 0.6s;
}
.header-nav a:hover{
	color: #FFBD28;
}

/*						main						*/

.main{
	margin: 30px 20px;
	display: flex;
	justify-content: space-around;
}
.main-text{
	margin: 20px 0;
	max-width: 500px;
}
.main-text-title{
	margin: 15px;
	color:  #FFBD28;
	font-size: 30px;
	line-height: 35px;
	font-weight: 600;
}
.main-text-title-mod{
	color: #000;
	font-weight: 400;
}
.main-text-description{
	margin-top: 40px;
	font-weight: 500;
}
.main-text form{
	width: 100%;
	display: flex;
	margin-top: 20px;
	flex-direction: column;
}
.main-text input{
	width: 70%;
	padding: 10px 20px;
	margin-top: 20px;
	border-radius: 20px;
	background-color: #FEE19E;
}
.main-text input[type="submit"]{
	width: 50%;
	background-color: #FECB54;
}

/*						footer						*/

footer{
	margin-right: 10%;
	text-align: right;
}
footer p a{
	font-weight: bold;
	transition: 0.6s;
}
footer p:hover > a{
	color: #FFBD28;
}

/*						media						*/

@media (max-width: 768px){

/*						media header						*/

	.header{
		flex-direction: column;
		text-align: center;
	}
	.header-logo{
		font-size: 30px;
		line-height: 28px;
	}
	.header-logo-mod{
		margin-left: 67px;
	}
	.btn-menu-open, .btn-menu-close{
		display: block;
	}
	.header-nav{
		display: none;
		position: fixed;
		width: 70%;
		padding-top: 70px;
		top: 0;
		left: 0;
		height: 100vh;
		text-align: left;
		background-color: #E8F3F9;
		box-shadow: 0 0 20px #aaa;
	}
	.header-nav ul{
		display: block;
		width: 100%;
		margin-top: 20px;
	}
	.header-nav li{
		padding: 0;
	}
	.header-nav a{
		display: block;
		padding: 15px 90% 15px 10%;
	}
	#btn-menu:checked ~ .header-nav{
		display: block;
	}

/*						media main						*/

	.main-text{
		text-align: center;
		margin: 0 auto;
	}
	.main-text-title{
		font-size: 25px;
	}
	.main-text input{
		width: 100%;
	}
	.main-text input[type="submit"]{
		width: 100%;
	}
	.main-image{
		display: none;
	}
}